<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Noche de Talentos VIVE{% endblock %}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;600;700&family=Inter:wght@400;500;600&family=Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
